# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# TypeScript
dist/
build/
*.tsbuildinfo

# Serverless Framework
.serverless/
.aws-sam/

# VSCode
.vscode/

# Logs
*.log
logs/
*.csv

# MacOS
.DS_Store

# Env files
.env
.env.*

# Jest coverage
coverage/

# Lambda layer artifacts
*.zip

# IDEs
.idea/
*.swp
*.swo